# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
Assembly-CSharp.csproj
*.sln

# Visual Studio Code
.vscode/
.VSCodeCounter/

# My files
Assets/old.txt

